@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Nasa.Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> APOD
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/asteroids" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Asteroids
            </NavLink>
        </div>
    </nav>
</div>*@


<MudNavMenu>
    <MudNavLink Href="/apod" Icon="@Icons.Material.Outlined.AllOut">APOD</MudNavLink>
    <MudNavGroup Title="Asteroids" Icon="@Icons.Material.Outlined.NextPlan" HideExpandIcon="true">
        <MudNavLink Href="/asteroids/recent" Icon="@Icons.Material.Outlined.IncompleteCircle">Recent</MudNavLink>
        <MudNavLink Href="/asteroids/upcoming" Icon="@Icons.Material.Outlined.NextPlan">Upcoming</MudNavLink>
        <MudNavLink Href="/asteroids/impactrisk" Icon="@Icons.Material.Outlined.NextPlan">Impactrisk</MudNavLink>
    </MudNavGroup>
</MudNavMenu>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
