@page "/asteroids/recent"

@using Fluxor;
@using Nasa.Client.Services.DataServices.AsteroidServices;
@using Nasa.Client.StateManagement.Asteroid.UseCases;

@inject IAsteroidService _asteroidService
@inject IState<RecentAsteroidState> _recentAsteroidState

<PageTitle>Asteroids</PageTitle>

<MudPaper Class="d-flex justify-end flex-grow-1 gap-4" Elevation="0">
    <MudIconButton Class="mr-5" Icon="@Icons.Material.Filled.Menu" Color="Color.Primary" Edge="Edge.Start" OnClick="@ToggleDrawer" />
</MudPaper>

@if (_recentAsteroidState?.Value.RecentAsteroids is not null)
{
    <section class="section">
        <h1>Asteroids &#8595;</h1>
    </section>
    @foreach (var apodData in _recentAsteroidState.Value.RecentAsteroids)
    {
        <section class="section">
            <div class="container reveal">

                <h2>Name @apodData.Name</h2>
                <div class="text-container">
                    <div>
                        <div class="text-box">
                            <h3>Estimated diameter Min</h3>
                            <p>
                                Meters @apodData.EstimatedDiameter.Meters.EstimatedDiameterMin
                                Kilometers @apodData.EstimatedDiameter.Kilometers.EstimatedDiameterMin
                            </p>
                        </div>
                        <div class="text-box">
                            <h3>Estimated diameter Max</h3>
                            <p>
                                Meters @apodData.EstimatedDiameter.Meters.EstimatedDiameterMax
                                Kilometers @apodData.EstimatedDiameter.Kilometers.EstimatedDiameterMax
                            </p>
                        </div>
                    </div>
                    <div>
                        @foreach (var approachData in apodData.CloseApproachData)
                        {
                            <div class="text-box">
                                <h3>Close approach date</h3>
                                <p>
                                    Date @approachData.CloseApproachDate
                                    Full date @approachData.CloseApproachDateFull
                                </p>
                                <h3>OrbitingBody</h3>
                                <p>
                                    @approachData.OrbitingBody
                                </p>
                            </div>
                        }
                    </div>
                    <div>
                        @foreach (var approachData in apodData.CloseApproachData)
                        {
                            <div class="text-box">
                                <h3>Epoch date close approach</h3>
                                <p>
                                    @approachData.EpochDateCloseApproach
                                </p>
                                <h3>Relative velocity</h3>
                                <p>
                                    @approachData.RelativeVelocity
                                </p>
                                <h3>Miss distance</h3>
                                <p>
                                    @approachData.MissDistance
                                </p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    }
}

<MudDrawer @bind-Open="@_open" Anchor="Anchor.End" Elevation="1" Variant="@DrawerVariant.Temporary">
    <MudDrawerHeader>
        <MudText Typo="Typo.h6">Filter</MudText>
    </MudDrawerHeader>
    <MudDrawerContainer>
        <MudText Typo="Typo.h6">Filter content</MudText>
    </MudDrawerContainer>
</MudDrawer>
