@page "/"
@page "/apod"

@using Fluxor;
@using Nasa.Client.Services.DataServices.APODServices;
@using Nasa.Client.Services.LoggerServices;
@using Nasa.Client.StateManagement.APOD.Services;
@using Nasa.Client.StateManagement.APOD.UseCases.ApodUseCase;

@inject IJSRuntime _jsRuntime
@inject IDialogService _dialogService

@inject IGetApodDataService _getApodDataService
@inject ILogService _logService

@inject IState<CurrentApodState>? _apodState
@inject IState<CurrentApodRefreshedState>? _apodRefreshedState

<PageTitle>APOD</PageTitle>

    <h2>Astronomy Picture of the Day</h2>

    @if (_apodState?.Value.CurrentApodData is not null)
    {
        <MudGrid>
            @foreach (var apodData in _apodState.Value.CurrentApodData)
            {
                <MudItem xs="12" sm="12" md="6" lg="6" xl="4">
                    <MudCard Elevation="3" Class="ma-3" Style="height: 100%">
                        <MudCardHeader>
                            <article class="copyright-info">
                                <p class="copyright">Copyright: @apodData.Copyright</p><p class="date">Date: @apodData.Date</p>
                            </article>
                        </MudCardHeader>
                        <MudCardMedia Class="d-flex" Image="@apodData.Url" />
                        <MudCardContent>
                            <article class="copyright-info">
                                <p>Explanation: @apodData.Explanation</p>
                            </article>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    }


    <div id="apodContent">
        @if (_apodRefreshedState?.Value.CurrentApodRefreshedData is not null)
        {
            <MudGrid>
                @foreach (var apodData in _apodRefreshedState.Value.CurrentApodRefreshedData)
                {
                    <MudItem xs="12" sm="12" md="6" lg="6" xl="4">
                        <MudCard Elevation="3" Class="ma-3" Style="height: 100%">
                            <MudCardHeader>
                                <article class="copyright-info">
                                    <p class="copyright">Copyright: @apodData.Copyright</p><p class="date">Date: @apodData.Date</p>
                                </article>
                            </MudCardHeader>
                            <MudCardMedia Class="d-flex" Image="@apodData.Url" />
                            <MudCardContent>
                                <article class="copyright-info">
                                    <p>Explanation: @apodData.Explanation</p>
                                </article>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                }
            </MudGrid>
        }
    </div>

    <buton class="btn-load-more"
           type="submit"
    @onclick="LoadMore"><span>@_loadMoreBtn</span></buton>
