@page "/"
@page "/apod"

@using Fluxor;
@using Nasa.Client.Services.DataServices.APODServices;
@using Nasa.Client.Services.LoggerServices;
@using Nasa.Client.StateManagement.APOD.Services;
@using Nasa.Client.StateManagement.APOD.UseCases.ApodUseCase;

@inject IJSRuntime _jsRuntime
@inject IDialogService _dialogService

@inject IGetApodDataService _getApodDataService
@inject ILogService _logService

@inject IState<CurrentApodState>? _apodState
@inject IState<CurrentApodRefreshedState>? _apodRefreshedState

<PageTitle>APOD</PageTitle>

<h2>Astronomy Picture of the Day</h2>

<MudCarousel Class="mud-width-full" Style="height:200px;" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="true" TData="object">
    <BulletTemplate Context="selected">
        <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
            <span class="mud-icon-button-label">
                <MudIcon Icon="@(selected ? Icons.Material.Filled.CheckCircle : Icons.Material.Filled.Circle)" Color="@Color.Inherit" />
            </span>
        </div>
    </BulletTemplate>
    <ChildContent>
        <MudCarouselItem Transition="Transition.Fade" Color="@Color.Primary">
            <div class="d-flex" style="height:100%">
                <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Fade" Color="@Color.Secondary">
            <div class="d-flex" style="height:100%">
                <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Fade">
            <div class="d-flex" style="height:100%">
                <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Color="@Color.Primary" Size="@Size.Large" />
            </div>
        </MudCarouselItem>
    </ChildContent>
</MudCarousel>

@if (_apodState?.Value.CurrentApodData is not null)
{
    <MudGrid>
        @foreach (var apodData in _apodState.Value.CurrentApodData)
        {
            <MudItem xs="12" sm="12" md="6" lg="6" xl="4">
                <MudCard Elevation="3" Class="ma-3" Style="height: 100%">
                    <MudCardHeader>
                        <article class="copyright-info">
                            <p class="copyright">Copyright: @apodData.Copyright</p><p class="date">Date: @apodData.Date</p>
                        </article>
                    </MudCardHeader>
                    <div id="zoomBOut">
                        <div id="zoomBIn">
                            <MudCardMedia Class="d-flex" Image="@apodData.Url" @onclick="(() => OnClickImage(apodData))" />
                        </div>
                    </div>
                    <MudCardContent>
                        <article class="copyright-info">
                            <p>Explanation: @apodData.Explanation</p>
                        </article>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
}


<div id="apodContent">
    @if (_apodRefreshedState?.Value.CurrentApodRefreshedData is not null)
    {
        <MudGrid>
            @foreach (var apodData in _apodRefreshedState.Value.CurrentApodRefreshedData)
            {
                <MudItem xs="12" sm="12" md="6" lg="6" xl="4">
                    <MudCard Elevation="3" Class="ma-3" Style="height: 100%">
                        <MudCardHeader>
                            <article class="copyright-info">
                                <p class="copyright">Copyright: @apodData.Copyright</p><p class="date">Date: @apodData.Date</p>
                            </article>
                        </MudCardHeader>
                        <div id="zoomBOut">
                            <div id="zoomBIn">
                                <MudCardMedia Class="d-flex" Image="@apodData.Url" />
                            </div>
                        </div>
                        <MudCardContent>
                            <article class="copyright-info">
                                <p>Explanation: @apodData.Explanation</p>
                            </article>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    }
</div>

<buton class="btn-load-more"
       type="submit"
@onclick="LoadMore"><span>@_loadMoreBtn</span></buton>
