@page "/"
@page "/apod"

@using Fluxor;
@using Nasa.Client.Services.DataServices.APODServices;
@using Nasa.Client.Services.LoggerServices;
@using Nasa.Client.StateManagement.APOD.Services;
@using Nasa.Client.StateManagement.APOD.UseCases.ApodUseCase;

@inject IJSRuntime _jsRuntime
@inject IDialogService _dialogService

@inject IGetApodDataService _getApodDataService
@inject ILogService _logService

@inject IState<CurrentApodState>? _apodState
@inject IState<CurrentApodRefreshedState>? _apodRefreshedState

<main style="overflow-y: hidden">
    <h2>Astronomy Picture of the Day</h2>

    @if (_apodState?.Value.CurrentApodData is not null)
    {
        @foreach (var apodData in _apodState.Value.CurrentApodData)
        {
            <section>
                <article class="copyright-info">
                    <p class="copyright">Copyright: @apodData.Copyright</p><p class="date">Date: @apodData.Date</p>
                </article>

                <div id="zoomBOut"
                @onclick="() => OnClickImage(apodData)">
                    @if (apodData.MediaTypes == Models.MediaTypes.Video)
                    {
                        <h3><a href="@apodData.Url" target="_blank">Open video</a></h3>
                    }
                    else if (apodData.MediaTypes == Models.MediaTypes.Image)
                    {
                        <div id="zoomBIn">
                            <img src="@apodData.Url" />
                        </div>
                    }
                </div>
                <article class="copyright-info">
                    <p class="copyright">Explanation: @apodData.Explanation</p>
                </article>
            </section>
        }
    }
    <div id="apodContent">
        @if (_apodRefreshedState?.Value.CurrentApodRefreshedData is not null)
        {
            @foreach (var apodData in _apodRefreshedState.Value.CurrentApodRefreshedData)
            {
                <section>
                    <article class="copyright-info">
                        <p class="copyright">Copyright: @apodData.Copyright</p><p class="date">Date: @apodData.Date</p>
                    </article>

                    <div id="zoomBOut"
                    @onclick="() => OnClickImage(apodData)">
                        @if (apodData.MediaTypes == Models.MediaTypes.Video)
                        {
                            <h3><a href="@apodData.Url" target="_blank">Open video</a></h3>
                        }
                        else if (apodData.MediaTypes == Models.MediaTypes.Image)
                        {
                            <div id="zoomBIn">
                                <img src="@apodData.Url" />
                            </div>
                        }
                    </div>
                    <article class="copyright-info">
                        <p class="copyright">Explanation: @apodData.Explanation</p>
                    </article>
                </section>
            }
        }
    </div>

    <buton class="btn-load-more"
           type="submit"
    @onclick="LoadMore"><span>@_loadMoreBtn</span></buton>
</main>