@page "/"
@page "/apod"

@using Fluxor;
@using Nasa.Client.Models;
@using Nasa.Client.Pages.APOD.Skeleton
@using Nasa.Client.Services.DataServices.APODServices;
@using Nasa.Client.Services.LoggerServices;
@using Nasa.Client.StateManagement.APOD.Services;
@using Nasa.Client.StateManagement.APOD.UseCases.ApodUseCase;
@using Nasa.Client.Models.Apod;

@inject IJSRuntime _jsRuntime
@inject IDialogService _dialogService

@inject IGetApodDataService _getApodDataService
@inject ILogService _logService

@inject IState<CurrentApodState>? _apodState
@inject IState<CurrentApodRefreshedState>? _apodRefreshedState
@inject IState<CurrentApodCarouselState>? _apodCarouselState

<PageTitle>APOD</PageTitle>

@if (_apodCarouselState?.Value.CurrentApodData is not null)
{
    <MudCarousel Class="mud-width-full mb-4" Style="height:300px;" ItemsSource="@_apodCarouselState.Value.CurrentApodData" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="true" TData="GetApodDataModel">
        <BulletTemplate Context="selected">
            <div class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
                <span class="mud-icon-button-label">
                    <MudIcon Icon="@(selected ? Icons.Material.Filled.Circle : Icons.Material.Outlined.Circle)" Color="@Color.Inherit" />
                </span>
            </div>
        </BulletTemplate>
        <ItemTemplate>
            <div class="carousel-container" @onclick="(() => OnClickImage(context))">
                <div class="carousel-img-container">
                    <img src="@context.Url" class="carousel-centered-image" />
                </div>
                <div class="carousel-centered-text">Astronomy Picture of the Day</div>
            </div>
        </ItemTemplate>
    </MudCarousel>
}
else
{
    <CarouselSkeletonComponent />
}

@if (_apodState?.Value.CurrentApodData is not null)
{
    <MudGrid>
        @foreach (var apodData in _apodState.Value.CurrentApodData)
        {
            <MudItem xs="12" sm="12" md="6" lg="6" xl="4">
                <MudCard Elevation="3" Style="height: 100%">
                    <MudCardHeader>
                        <article class="copyright-info">
                            <p class="copyright">Copyright: @apodData.Copyright</p><p class="date">Date: @apodData.Date</p>
                        </article>
                    </MudCardHeader>
                    <div id="zoomBOut">
                        <div id="zoomBIn">
                            <MudCardMedia Class="d-flex" Image="@apodData.Url" @onclick="(() => OnClickImage(apodData))" />
                        </div>
                    </div>
                    <MudCardContent>
                        <article class="copyright-info">
                            <p>Explanation: @apodData.Explanation</p>
                        </article>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
}
else
{
    <MainDataSkeletonComponent />
}


<div id="apodContent">
    @if (_apodRefreshedState?.Value.CurrentApodRefreshedData is not null)
    {
        <MudGrid>
            @foreach (var apodData in _apodRefreshedState.Value.CurrentApodRefreshedData)
            {
                <MudItem xs="12" sm="12" md="6" lg="6" xl="4">
                    <MudCard Elevation="3" Style="height: 100%">
                        <MudCardHeader>
                            <article class="copyright-info">
                                <p class="copyright">Copyright: @apodData.Copyright</p><p class="date">Date: @apodData.Date</p>
                            </article>
                        </MudCardHeader>
                        <div id="zoomBOut">
                            <div id="zoomBIn">
                                <MudCardMedia Class="d-flex" Image="@apodData.Url" />
                            </div>
                        </div>
                        <MudCardContent>
                            <article class="copyright-info">
                                <p>Explanation: @apodData.Explanation</p>
                            </article>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    }
</div>

@if (_apodState?.Value.CurrentApodData is not null)
{
    <buton class="btn-load-more"
           type="submit"
    @onclick="    LoadMore"><span>@_loadMoreBtn</span></buton>
}